*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* Flexbox style for the body */
.body-flexbox {
    display: flex;
    flex-direction: column; /* Stack child elements vertically */
    min-height: 100vh; /* Make the body at least the height of the viewport */
    background-image: url('../imagenes/spaghetti-1932466_1280.jpg'); /* Replace with the path to your background image */
    background-size: cover; /* Cover the entire viewport with the background image */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Prevent background image repetition */
    color: white; /* Change the text color */
  }


/* Flexbox styles for header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 20px;
  }
  
  .header-left {
    display: flex;
    align-items: center;
  }
  
  .header-left img {
    width: 50px; /* Adjust the size as needed */
    height: auto;
    margin-right: 10px;
  }
  
  .header-left h1 {
    font-size: 24px;
    align-items: center;
  }
  
  .header-right {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .redes-sociales a {
    color: #fff;
    font-size: 18px;
    text-decoration: none;
  }
  
  .redes-sociales a:hover {
    color: #ff6600; /* Change the hover color as needed */
  }

  /* Flexbox styles for header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 20px;
    flex-wrap: wrap; /* Add flex-wrap property to wrap elements when screen size is reduced */
  }

  /* Styles for the main navigation */
.main-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
  }
  
  .main-nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
  }
  
  .main-nav li {
    font-size: 18px;
  }
  
  .main-nav a {
    text-decoration: none;
    color: #fff;
  }
  
  .main-nav a:hover {
    color: #ff6600; /* Change the hover color as needed */
  }

/* Estilos para las secciones */
section {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
}

/* Flexbox styles for footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; /* Add flex-wrap property to wrap elements when screen size is reduced */
  }
  
  /* Styles for footer sections */
  .footer-left,
  .footer-right {
    flex: 1;
  }
  
  /* Media query to adjust footer layout on smaller screens */
  @media (max-width: 768px) {
    .footer-left,
    .footer-right {
      flex-basis: 100%; /* Make sections take full width on smaller screens */
    }
  }
        

/* Estilos para el botón flotante de WhatsApp */
.whatsapp-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #25d366; /* Color de WhatsApp */
    color: #fff; /* Color de texto - Blanco */
    font-size: 24px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    line-height: 60px;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

/* Cambia el estilo del botón al pasar el mouse */
.whatsapp-btn:hover {
    background-color: #128c7e; /* Cambia el color al pasar el mouse */

}

.hero {
    background-image: url(''); /* Agrega la imagen de fondo que desees */
    background-size: cover;
    text-align: justify;
    padding: 100px 0;
    color: white;
}

.hero h1 {
    font-size: 36px;
    margin-bottom: 20px;
    text-align: center;
}

.hero p {
    font-size: 18px;
    margin-bottom: 30px;
}

.hero a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff8000; /* Color de fondo - Naranja */
    color: white; /* Color de texto - Blanco */
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}

.hero a:hover {
    background-color: #1a3140; /* Color de resaltado - Tranquil Blue */
}


